[submodule "wildduck-static"]
	path = wildduck-static
	url = git@github.com:wildducktheories/wildduck-static.git
[submodule "wildduck-system"]
	path = wildduck-system
	url = git@github.com:wildducktheories/wildduck-system.git
[submodule "wildduck-haproxy"]
	path = wildduck-haproxy
	url = git@github.com:wildducktheories/wildduck-haproxy.git
[submodule "wildduck-build"]
	path = wildduck-build
	url = git@github.com:wildducktheories/wildduck-build.git
[submodule "wildduck-blog"]
	path = wildduck-blog
	url = git@github.com:wildducktheories/wildduck-blog.git
[submodule "stop-blog"]
	path = stop-blog
	url = git@github.com:stoppremiumsms/blog.git
[submodule "stop-static"]
	path = stop-static
	url = git@github.com:stoppremiumsms/static.git
